# <span style="color:darkblue"> Lecture 15 - Practicing Chaining </span>

<font size = "5">

In this lecture you will get a chance to practice <br>
the main dataset operations

- There will be a quiz on this lecture

# <span style="color:darkblue"> I. Import Libraries and Data </span>

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
results  = pd.read_csv("results.csv")
races    = pd.read_csv("races.csv")
results["points col"] = results["points"]

# <span style="color:darkblue"> II. Review of Diagnostic Commands </span>

<font size = "5">

More details ...

https://www.w3schools.com/python/pandas/pandas_cleaning.asp

In [14]:
# (a) Count number of observations
n_total   = len(results)
print(n_total)

# (b) Count non-missing observations
n_nonmiss = results["points"].count()
print(n_nonmiss)

# (b) Get column names
list_names = results.columns.names
print(results.columns.names)

# (c) Unique values
list_ids   = pd.unique(results["constructorId"])

25840
25840
[None]

# <span style="color:darkblue"> II. Examples of Dataset Operations </span>

<font size = "5">

Full list of commands here:

https://www.w3schools.com/python/pandas/pandas_ref_dataframe.asp

<font size = "5">

```[] ```: Extracting columns

In [16]:
subset_cols = results[["constructorId","points","laps"]]
subset_cols

       constructorId  points  laps
0                  1    10.0    58
1                  2     8.0    58
2                  3     6.0    58
3                  4     5.0    58
4                  1     4.0    58
...              ...     ...   ...
25835            210     0.0    57
25836            210     0.0    57
25837            131     0.0    55
25838              3     0.0    55
25839            214     0.0    27

[25840 rows x 3 columns]

<font size = "5">

```.query() ```: Filtering a subset of rows

In [18]:
lower_value          = 20
subset_row_text      = races.query('name == "Australian Grand Prix"')
subset_row_ineq      = results.query('(points >= 20) & (points <= 30)')
subset_row_global    = results.query('(points >= @lower_value)')
subset_row_colspaces = results.query('(`points col` >= @lower_value)')
subset_row_colspaces

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,points col
20320,20323,337,4,6,8,3,1,1,1,25.0,49,1:39:20.396,5960396,45,1,1:58.287,191.706,1,25.0
20344,20347,338,18,1,1,4,1,1,1,25.0,58,1:33:36.531,5616531,52,6,1:29.291,213.804,1,25.0
20368,20371,339,20,9,5,3,1,1,1,25.0,56,1:33:48.412,5628412,53,6,1:37.813,204.009,1,25.0
20392,20395,340,18,1,1,5,1,1,1,25.0,56,1:46:42.163,6402163,14,4,1:42.886,190.731,1,25.0
20416,20419,341,17,9,6,1,1,1,1,25.0,66,1:35:44.101,5744101,62,2,1:24.828,197.552,1,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25740,25746,1092,830,9,1,1,1,1,1,25.0,28,3:01:44.004,10904004,10,4,1:44.911,199.266,1,25.0
25760,25766,1093,830,9,1,2,1,1,1,25.0,56,1:42:11.687,6131687,37,2,1:39.541,199.383,1,25.0
25780,25786,1094,830,9,1,1,1,1,1,25.0,71,1:38:36.729,5916729,36,4,1:22.046,188.850,1,25.0
25800,25806,1095,847,131,63,1,1,1,1,26.0,71,1:38:34.044,5914044,61,1,1:13.785,210.237,1,26.0
25820,25826,1096,830,9,1,1,1,1,1,25.0,58,1:27:45.914,5265914,54,6,1:29.392,212.676,1,25.0

<font size = "5">

```.recode() ```: Replacing values

In [21]:
results   = results.replace(to_replace = ["UK","USA"],
                            value = ["United Kingdom","United States"])
results

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,points col
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1,10.0
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1,8.0
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1,6.0
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1,5.0
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25835,25841,1096,854,210,47,12,16,16,16,0.0,57,\N,\N,39,12,1:29.833,211.632,11,0.0
25836,25842,1096,825,210,20,16,17,17,17,0.0,57,\N,\N,40,20,1:31.158,208.556,11,0.0
25837,25843,1096,1,131,44,5,18,18,18,0.0,55,\N,\N,42,11,1:29.788,211.738,9,0.0
25838,25844,1096,849,3,6,20,19,19,19,0.0,55,\N,\N,45,14,1:30.309,210.517,130,0.0
25839,25845,1096,4,214,14,10,\N,R,20,0.0,27,\N,\N,24,17,1:30.579,209.889,47,0.0

<font size = "5">

```.groupby().agg() ```: Aggregate statistics by subgroup

In [23]:
results_agg = results.groupby("driverId").agg( median_points = ("points","median"))
results_agg

          median_points
driverId
1                  15.0
2                   0.0
3                   4.0
4                   4.0
5                   0.0
...                 ...
852                 0.0
853                 0.0
854                 0.0
855                 0.0
856                 2.0

[855 rows x 1 columns]

<font size = "5">

```.rename() ```: Change name of columns

In [25]:
races_rename = races.rename(columns = {"name": "new_name"})
races_rename

,raceId,year,round,circuitId,new_name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1097,1116,2023,19,69,United States Grand Prix,2023-10-22,19:00:00,https://en.wikipedia.org/wiki/2023_United_Stat...,2023-10-20,17:30:00,2023-10-21,18:00:00,\N,\N,2023-10-20,21:00:00,2023-10-21,22:00:00
1098,1117,2023,20,32,Mexico City Grand Prix,2023-10-29,20:00:00,https://en.wikipedia.org/wiki/2023_Mexico_City...,2023-10-27,18:30:00,2023-10-27,22:00:00,2023-10-28,17:30:00,2023-10-28,21:00:00,\N,\N
1099,1118,2023,21,18,São Paulo Grand Prix,2023-11-05,17:00:00,https://en.wikipedia.org/wiki/2023_S%C3%A3o_Pa...,2023-11-03,14:30:00,2023-11-04,14:30:00,\N,\N,2023-11-03,18:00:00,2023-11-04,18:30:00
1100,1119,2023,22,80,Las Vegas Grand Prix,2023-11-19,06:00:00,https://en.wikipedia.org/wiki/2023_Las_Vegas_G...,2023-11-17,04:30:00,2023-11-17,08:00:00,2023-11-18,04:30:00,2023-11-18,08:00:00,\N,\N
1101,1120,2023,23,24,Abu Dhabi Grand Prix,2023-11-26,13:00:00,https://en.wikipedia.org/wiki/2023_Abu_Dhabi_G...,2023-11-24,09:30:00,2023-11-24,13:00:00,2023-11-25,10:30:00,2023-11-25,14:00:00,\N,\N